<p id="notice"><%= notice %></p>






<body>

   

    <!-- Main Content -->




   <% @posts.each do |post| %>
        <div class="booyah-box col-xs-10 col-xs-offset-1">
          <div class="post-box">
            <div class="post-title"
            <h1><%= link_to post.title, post_path(post) %></h1><br />
            </div>
            <hr />
              <div class= "post-body"
                <i><%= post.body.html_safe %></i><br /><br />
              </div>
                 <p><%= post.author %></p><br />
          </div>
        </div>
        </body>



    <% end %>

    <br class="clr" />

   

    


<p id="notice"><%= notice %></p>














<% tinymce %>
