<p id="notice"><%= notice %></p>

<div class="booyah-box col-xs-10 col-xs-offset-1">

      <div align="center">
    
        <h2><strong><%= @post.title %></strong></h2>
      </div>

      <br /><br /><br />
          
          <div class="col -xs-8 col-xs-offset-1">
    
            <p> <%= @post.body.html_safe %></p>
          </div>
    <br /><br /><br />
</div>

      <div class = "pull-right"
     <em> Posted by <%= @post.author %> on <%= @post.published_at %></em>
        </div>
    



