<!DOCTYPE html>
<html>
<head>
  <title>Elliec</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<div class="wrapper-masthead">
   <div class="container">
      <div class="masthead-proper col-xs-5 col-xs-offset-3 "
          

        <div class="site-info">
          <%= image_tag 'ellcat.png' %>
            
        </div>
      </div>

      <div class = "nav col-xs-3 col-xs-offset-5">
        <div align="center">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/portfolio">Portfolio</a>
            <a href="/archive"></a>
        </div>
      </div>
    </div>
  </div>
    
    <br class="clr" />

    <br />
    <br />
   


<!-- needs if and else when bootstrap is loaded -->
<!-- <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p> -->



<%= yield %>

</body>
</html>
